<div class="span12" ng-controller="CodersController">

  <div class="row-fluid">
    <div class="span12">
      <h3>List of coders</h3>

      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Votes</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tr ng-repeat="coder in coders">
          <td>{{ coder.votes }}</td>
          <td>{{ coder.name }}</td>
          <td><button ng-click="vote(coder)" class="btn btn-primary btn-mini">Vote!</vote></td>
        </tr>
      </table>
    </div>
  </div>

</div>
