<div class="span12" ng-controller="VotesController">

    <div class="row-fluid">
        <div class="span12">
          <div class="highlight page-header">
            <h3>CHOOSE YOUR FAVORITE CODER</h3>
          </div>
        </div>
    </div>

    <div class="row-fluid">
      <div class="span5">
        <coder coder='coder1' vote="vote(coder1)"></coder>
      </div>
      <div class="span2 versus"><h1>vs.</h1></div>
      <div class="span5">
        <coder coder='coder2' vote="vote(coder2)"></coder>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="highlight page-header">
          <h3>TOP 10 CODERS</h3>
        </div>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Votes</th>
              <th>Name</th>
              <th>Link</th>
            </tr>
          </thead>
          <tr ng-repeat="coder in topCoders | orderBy:'votes':true | limitTo: 10">
            <td>{{ coder.votes }}</td>
            <td><hover-bio coder="coder">{{ coder.name }}</hover-bio></td>
            <td><a class="btn btn-mini btn-primary"
                href="{{ coder.wikipedia | wikipediaLink }}" ng-show="coder.wikipedia">Wikipedia</a></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
