<!doctype html>
<html lang="en">

  <head>
    <title>CoderContest | Joy of Coding AngularJS Workshop</title>
    <link rel="stylesheet" href="css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="css/coder-contest.css" rel="stylesheet" media="screen"/>
  </head>

  <body>
    <div class="container">

      <div class="row">
        <div class="span4"><h3 class="muted">Coder Contest</h3></div>
      </div>

      <div class="row" ng-controller="CodersController">
        <div class="span12">

          There are {{ coders.length }} coders present at Joy of Coding.

          <h4>Top Coders</h4>
          <ul>
            <li ng-repeat="coder in coders">
            {{ coder.name }} has {{ coder.votes }} votes.
            <button ng-click="vote(coder)" class="btn btn-primary btn-mini">Vote!</button>
            </li>
          </ul>

        </div>
      </div>

      <div class="footer">
        <p>&copy; Joy of Coding</p>
      </div>

    </div>
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>

    <script src="js/coder-contest.js"></script>
    <script src="js/controllers/coders-controller.js"></script>

    <script>
      window.onload = function() {

        var $rootElement = angular.element(window.document);

        var modules = [
          'ng',
          'coderContest',
          function($provide) {
            $provide.value('$rootElement', $rootElement);
          }
        ];

        var $injector = angular.injector(modules);
        console.log('Injector created...', $injector);

        var $compile = $injector.get('$compile');
        console.log('Loaded compile...');

        var compositeLinkFn = $compile($rootElement);
        console.log('Linking function created...');

        var $rootScope = $injector.get('$rootScope');
        compositeLinkFn($rootScope);
        console.log('Executed linking function with $rootScope...');

        $rootScope.$apply();

      };
    </script>

  </body>
</html>
